<h1>Mis Postres</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sabor</th>
      <th>Porcion</th>
      <th>Precio</th>
      <th>Detalles</th>
      <th>Tipopostre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postres.each do |postre| %>
      <tr>
        <td><%= postre.nombre %></td>
        <td><%= postre.sabor %></td>
        <td><%= postre.porcion %></td>
        <td><%= postre.precio %></td>
        <td><%= postre.detalles %></td>
        <td><%= postre.tipopostre.nombre %></td>
        <td><%= link_to 'Mostrar', postre %></td>
        <td><%= link_to 'Editar', edit_postre_path(postre) %></td>
        <td><%= link_to 'Eliminar', postre, method: :delete, data: { confirm: 'Estas seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Postre', new_postre_path %>
