
<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @empleado.apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @empleado.rut %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empleado.direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @empleado.correo %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @empleado.fechanacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empleado.telefono %>
</p>

<h2><center>Especialidades de Empleado:</center></h2>
<% @especialidads.each do |especialidad| %>
<strong>Nombre: </strong>
<%= especialidad.nombre %>
<br>
<% end %>


<%= link_to 'Editar', edit_empleado_path(@empleado) %> |
<%= link_to 'Volver', empleados_path %>
