<%= form_for(@tipopostre) do |f| %>
  <% if @tipopostre.errors.any? %>
    <div id="error_explanation">
    

      <ul>
      <% @tipopostre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <%= f.hidden_field :usuario_id, :value => current_usuario.id   %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
